$bs-bio-tag-domain-color: #27aae1;
$bs-bio-tag-taxonomy-color: #009444;
$bs-bio-tag-font-size: .666em !important;
$bs-head-background-color: #eff1f4;
$bs-head-color: #249acc;
$bs-container-height: 80;
$bs-container-padding: 10;

.bs-entities-error {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    font-size: 25px;
    color: #990000;
    background-color: #ffb3b3;
    border-color: #d6e9c6;
    padding: 8px 35px 8px 14px;
    margin: 10em auto 10em auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-form-label {
    margin-right: 2px;
}

.bs-container {
    font-family: "Lato", sans-serif;
}

.bs-container .bs-head {
    background-color: $bs-head-background-color;
    color: $bs-head-color;
    border-radius: 2px;
    height: $bs-container-height + 0px;
    vertical-align: middle;
    padding-left: $bs-container-padding + 0px;
    padding-top: $bs-container-padding + 0px;
    padding-bottom: $bs-container-padding + 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-container .bs-head span {
    margin: 0 0;
    font-size: 24px;
    line-height: $bs-container-height - 2 * $bs-container-padding + 0px;
}

.bs-container .bs-head span a {
    color: inherit;
}

.bs-bio-tags {
    list-style: none;
    -webkit-padding-start: 0px;
    float: left;
    color: #fff;
    font-size: 1em;
}

.bs-bio-tag {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    font-weight: normal;
    text-transform: capitalize;
    color: #fff;
    border-radius: 3px;
    font-size: $bs-bio-tag-font-size;
    float: left;
}

.bs-bio-tag-domain {
    background-color: $bs-bio-tag-domain-color;
}

.bs-bio-tag-taxonomy {
    background-color: $bs-bio-tag-taxonomy-color;
}

.bs-bio-tag a {
    color: inherit;
    cursor: pointer;
}

img.bs-bio-status, img.bs-bio-repository {
    width: 30px;
    height: 30px;
}

.bs-table-box {
    padding: 0 6px;
}

.bs-widget-documentation h3, .bs-widget-documentation h4, .bs-widget-documentation a {
    color: $bs-head-color;
}

.bs-tab-head {
    color: $bs-head-color;
    font-size: 20px;
}

.bs-button-toolbar {
    margin-bottom: 5px;
}
