$bs-bio-tag-domain-color: #27aae1;
$bs-bio-tag-taxonomy-color: #009444;
$bs-bio-tag-font-size: .666em;
$bs-head-background-color: #249acc;
$bs-head-color: #fcffff;

.bs-entities-error {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    font-size: 25px;
    color: #990000;
    background-color: #ffb3b3;
    border-color: #d6e9c6;
    padding: 8px 35px 8px 14px;
    margin: 10em auto 10em auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-form-label {
    margin-right: 2px;
}

.bs-head {
    background-color: $bs-head-background-color;
    color: $bs-head-color;
    border-radius: 2px;
}

.bs-head h3 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-bio-tags {
    list-style: none;
    -webkit-padding-start: 0px;
    float: left;
    color: #fff;
    font-size: 1em;
}

.bs-bio-tag {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    font-weight: normal;
    text-transform: capitalize;
    color: #fff;
    border-radius: 3px;
    font-size: $bs-bio-tag-font-size;
    float: left;
}

.bs-bio-tag-domain {
    background-color: $bs-bio-tag-domain-color;
}

.bs-bio-tag-taxonomy {
    background-color: $bs-bio-tag-taxonomy-color;
}

.bs-bio-tag a {
    color: inherit;
    cursor: pointer;
}

img.bs-bio-status, img.bs-bio-repository {
    width: 30px;
    height: 30px;
}
