$layout-background-color: #f3ffff;
$modal-dialog-title-color: #27aae1;
$modal-dialog-subtitle-color:#337ab7;

$layout-form-margin: 2px;

.layout-form {
    background-color: $layout-background-color;
}

.layout-selector-div {
    margin: $layout-form-margin;
}

.graph-handler {

}

.graph-handler .graph-layout-form-div {
    min-width: 280px;
    max-width: 300px;
}

.graph-div {

}

.graph-div .graph-sliders-div {
    height: 2.5em;
    line-height: 1.25em;
}

.graph-div .graph-slider {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 2px;
    border: 2px solid #abe2fb;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 3
}

.graph-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.graph-dialog h1 {
    color: $modal-dialog-title-color
}

.graph-dialog h2 {
    color: $modal-dialog-subtitle-color
}
