$layout-background-color: #f3ffff;
$modal-dialog-title-color: #27aae1;
$modal-dialog-subtitle-color: #337ab7;
$tag-select-label-color: #337ab7;
$graph-background-color: #fcffff;
$graph-border-color: #d0ffff;
$graph-header-background-color: #249acc;
$graph-header-color: #fcffff;
$layout-form-margin: 2px;

.layout-form {
    background-color: $layout-background-color;
}

.layout-selector-div {
    margin: $layout-form-margin;
}

.graph-container {

}

.graph-container .graph-head {
    border-radius: 2px;
    background-color: $graph-header-background-color;
    color: $graph-header-color;
}

.graph-container .graph-head h3 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.graph-container .graph-head h3 a {
    color: inherit;
}

.graph-error {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    font-size: 25px;
    color: #990000;
    background-color: #ffb3b3;
    border-color: #d6e9c6;
    padding: 8px 35px 8px 14px;
    margin: 10em auto 10em auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.graph-handler {

}

.graph-handler .graph-layout-form-div {
    /* min-width: 280px; */
    max-width: 300px;
}

.graph-div {

}

.graph-div .graph-sliders-div {
    height: 2.5em;
    line-height: 1.25em;
}

.graph-div .graph-slider {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 2px;
    border: 2px solid #abe2fb;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 3;
}

.graph-dialog-overlay {
    z-index: 5;
}

.graph-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.graph-dialog h1 {
    color: $modal-dialog-title-color
}

.graph-dialog h2 {
    color: $modal-dialog-subtitle-color
}

.graph-legend {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}

.graph-legend canvas {
    width: 100%;
}

.graph {
    border: 3px solid $graph-border-color;
    background-color: $graph-background-color;
    border-radius: 6px;
}

.tag-select {}

.tag-select .tag-select-label {
    color: $tag-select-label-color;
}

.graph-div {
    margin-top: 10px;
}

.graph-div .graph {
    min-height: 1080px;
}

@media screen and (max-width: 600px) {
    .graph-div .graph {
        min-height: 540px;
    }
}

@media screen and (max-width: 900px) {

    .graph-div {
        margin-top: 20px;
    }

    .graph-div .graph {
        min-height: 800px;
    }
}
