/* Mutuated from https://webdesign.tutsplus.com/tutorials/building-a-vertical-timeline-with-css-and-a-touch-of-javascript--cms-26528 */

$timeline-background-color: #27aae1;
$events-background-color:  #ccf5ff;
$time-color: #27aae1;
$header-color: #fff;

.bs-timeline-cnt {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bs-timeline-cnt .intro {
  background: $timeline-background-color;
  padding: 30px 0;
}

.bs-timeline-header-cnt {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.bs-timeline-cnt h1 {
  font-size: 3.5rem;
  color: $header-color;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bs-timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: $timeline-background-color;
}

.bs-timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.bs-timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: $events-background-color;
}

.bs-timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* odd elements in the timeline */
.bs-timeline ul li:nth-child(odd) div {
  left: 45px;
}

.bs-timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $events-background-color transparent transparent;
}

/* even elements in the timeline */
.bs-timeline ul li:nth-child(even) div {
  left: -439px;
}

.bs-timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $events-background-color;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bs-timeline ul li::after {
  transition: background .5s ease-in-out;
}

.bs-timeline ul li.in-view::after {
  background: $events-background-color;
}

.bs-timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.bs-timeline ul li div time {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: $time-color;
}

.bs-timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.bs-timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.bs-timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .bs-timeline ul li div {
    width: 250px;
  }
  .bs-timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .bs-timeline ul li {
    margin-left: 20px;
  }
  .bs-timeline ul li div {
    width: calc(100vw - 91px);
  }
  .bs-timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .bs-timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $events-background-color transparent transparent;
  }
}
